@import "./reset";
@import "font-awesome";
@import "./config/variable";
@import "./modules/*";
@import "messages";

left-contents{
 top-contents
  width:300px;
  margin:;
  padding:;
  background-color: #253141
 
   text-box{
   color: 
   font-size: 16px;
  bold;
 bottom-contents{
  background-color: #2f3e
  

chatgroup
  chatgroup

}

}
   chatmenu{
  
  }
  




width:;
margin:;
padding:;
background-color: #



}
margin: 
padding: 
border: ;
border-radius:

}
 
text-indent: 





16px Bold #FFFFFF
left-contents

right-contents
flow-chart


/*
flash messageを書き込む


 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
